<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand">Сокращённое название</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#!">All Products</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#!">Popular Items</a></li>
            <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-dark" type="submit">
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
        </button>
      </form>
    </div>
  </div>
</nav>
<header th:fragment="header" class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Придумай название</h1>
      <p class="lead fw-normal text-white-50 mb-0">Андрей, придумай уже слоган!</p>
    </div>
  </div>
</header>
<footer th:fragment="footer" class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy;Заполни это 2022</p></div>
</footer>

<div th:fragment="modal-product" class="modal fade" tabindex="-1" id="modal-product">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="w-25 text-center">
          <img src="/default.svg" class="img-circle img-responsive" id="modal-product-image">
        </div>
        <h4 class="modal-title" id="modal-product-name"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="container w-100">
          <table class="table">
            <tbody>
            <tr>
              <th scope="row">Вендор:</th>
              <td id="modal-product-vendor"></td>
            </tr>
            <tr>
              <th scope="row">Страна:</th>
              <td id="modal-product-country"></td>
            </tr>
            <tr>
              <th scope="row">Длительность лицензии:</th>
              <td id="modal-product-license"></td>
            </tr>
            <tr>
              <th scope="row">Время доставки:</th>
              <td id="modal-product-delivery"></td>
            </tr>
            <tr>
              <th scope="row">НДС:</th>
              <td id="modal-product-nds"></td>
            </tr>
            <tr>
              <th scope="row">Тех. поддержка:</th>
              <td id="modal-product-tech-support"></td>
            </tr>
            </tbody>
          </table>
          <h5 class="modal-title">Описание товара</h5>
          <div class="text-justify">
            <p id="modal-product-description"> </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="addToCart()">
          <span class="fa fa-backspace"></span>
          <span id="modal-product-add-to-cart">В корзину</span>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <span class="fa fa-close"></span>
          <span>Закрыть</span>
        </button>
      </div>
    </div>
  </div>
</div>
</body>
</html>