<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:spring="http://www.springframework.org/tags">
<head th:replace="fragments/head-tag.html::head-tag-import"></head>

<body class="bg-dark">
<nav th:replace="fragments/fragments.html::navigation-admin"></nav>
<script th:src="@{/js/admin-products.js}" defer></script>
<header th:replace="fragments/fragments.html::header" ></header>
<div class="container jumbotron  pt-1 py-2 bg-dark text-white" >
    <div class="">
        <h3 class="text-center" th:utext="#{products.title}"></h3>
        <button class="btn btn-primary d-inline" onclick="add()">
            <span class="fa fa-plus"></span>
            <spring:message code="common.add"/>
        </button>
        <table class="table table-striped table-dark table-sm" id="datatable">
            <thead>
            <tr>
                <th>id</th>
                <th>Назв.</th>
                <th>Вендор</th>
                <th>Страна</th>
                <th>Время лиценз.</th>
                <th>Цена</th>
                <th>Описание</th>
                <th>Доставка, дн</th>
                <th>НДС</th>
                <th>Тех.подд.</th>
                <th>Доступ</th>
                <th>Избран.</th>
                <th>Лого</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="editRow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle"></h4>
                <button type="button" class="close" data-dismiss="modal" onclick="closeNoty()">&times;</button>
            </div>
            <div class="modal-body">
                <form id="detailsForm">
                    <input type="hidden" id="id" name="id">

                    <div class="form-group">
                        <label for="name" class="col-form-label" th:utext="#{products.name}"></label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="vendor" class="col-form-label" th:utext="#{products.vendor}"></label>
                        <input type="text" class="form-control" id="vendor" name="vendor">
                    </div>
                    <div class="form-group">
                        <label for="country" class="col-form-label" th:utext="#{products.country}"></label>
                        <input type="text" class="form-control" id="country" name="country">
                    </div>
                    <div class="form-group">
                        <label for="licenseTime" class="col-form-label" th:utext="#{products.licenseTime}"></label>
                        <input type="text" class="form-control" id="licenseTime" name="licenseTime">
                    </div>
                    <div class="form-group">
                        <label for="price" class="col-form-label" th:utext="#{products.price}"></label>
                        <input type="number" step="1" min="0" max="1000000000" class="form-control" id="price" name="price">
                    </div>
                    <div class="form-group">
                        <label for="deliveryTimeInDays" class="col-form-label" th:utext="#{products.deliveryTimeInDays}"></label>
                        <input type="number" step="1" min="0" max="1825" class="form-control" id="deliveryTimeInDays" name="deliveryTimeInDays">
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label" th:utext="#{products.description}"></label>
                        <textarea rows="10" maxlength="3000" class="form-control" id="description" name="description"></textarea>
                    </div>
                    <input type="checkbox" id="ndsInclude" name="ndsInclude">
                    <input type="checkbox" id="requiredTechnicalSupport" name="requiredTechnicalSupport">
                    <input type="checkbox" id="available" name="available">
                    <input type="checkbox" id="favorite" name="favorite">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeNoty()">
                    <span class="fa fa-close"></span>
                    <span th:utext="#{common.cancel}"></span>
                </button>
                <button type="button" class="btn btn-primary" onclick="save()">
                    <span class="fa fa-check"></span>
                    <span th:utext="#{common.save}"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="imageRow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle2"></h4>
                <button type="button" class="close" data-dismiss="modal" onclick="closeNoty()">&times;</button>
            </div>
            <div class="modal-body">
                <form id="imageForm" method="post" action="" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="image" class="col-form-label">Изображение</label>
                        <input type="file" accept="image/svg+xml" id="image" name="image">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="deleteImage()">
                    <span class="fa fa-backspace"></span>
                    <span>Удалить</span>
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeNoty()">
                    <span class="fa fa-close"></span>
                    <span>Отмена</span>
                </button>
                <button type="button" class="btn btn-primary" onclick="saveImage()" id="mdl-img-btn">
                    <span class="fa fa-check"></span>
                    <span>Сохранить</span>
                </button>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragments.html::footer"></footer>
</body>
</html>
