<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:spring="http://www.springframework.org/tags">
<head th:replace="fragments/head-tag.html::head-tag-import"></head>

<body class="bg-dark">
<link th:href="@{/css/articles.css}" rel="stylesheet"/>
<script th:src="@{/js/admin-article-ajax.js}" defer></script>
<script th:src="@{/js/admin-article-render.js}" defer></script>
<nav th:replace="fragments/fragments.html::navigation-admin"></nav>
<header th:replace="fragments/fragments.html::header" ></header>
<div class="container jumbotron  pt-1 py-2 bg-dark text-white">
    <div>
        <h3 class="text-center">Статьи</h3>
        <button class="btn btn-primary" onclick="context.add()">
            <span class="fa fa-plus">Добавить</span>
        </button>
        <table class="table table-striped table-dark table-sm" id="datatable">
            <thead>
            <tr>
                <th>id</th>
                <th>Заголовок</th>
                <th>Превью</th>
                <th>Текст</th>
                <th>Лого</th>
                <th>jpeg</th>
                <th>Доступно</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<div th:replace="fragments/fragments.html::edit-article"></div>
<div th:replace="fragments/fragments.html::edit-article-logo"></div>
<div th:replace="fragments/fragments.html::edit-article-image"></div>
<div th:replace="fragments/fragments.html::article-text"></div>
<div th:replace="fragments/fragments.html::i18n-init"></div>
<footer th:replace="fragments/fragments.html::footer"></footer>
</body>
</html>