<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head-tag.html::head-tag-import"></head>
<body>
<nav th:replace="fragments/fragments.html::navigation-base"></nav>
<header th:replace="fragments/fragments.html::header" ></header>
<section class="py-5 justify-content-center text-center">
  <h1 th:utext="${status}"></h1>
  <h2 th:utext="${typeMessage}"></h2>
  <p th:utext="${message}"></p>
  <a href="/home">на Главную</a>
</section>
<footer th:replace="fragments/fragments.html::footer"></footer>
</body>
</html>