<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SoftShop</title>
</head>
<body>
    <h1>Список товаров</h1>

    <div th:each="product : ${products}">
        <br/>
        <p th:text="${product.name}">NAME</p>
        <p th:text="${product.vendor}">VENDOR</p>
        <p th:text="${product.country}">COUNTRY</p>
        <p th:text="${product.licenseTime}">LICENSE_TIME</p>
        <p th:text="${product.price}">PRICE</p>
        <p th:text="${product.deliveryTimeInDays}">DELIVERY_TIME</p>
        <p th:text="${product.ndsInclude}">NDS</p>
        <p th:text="${product.requiredTechnicalSupport}">TECHNICAL_SUPPORT</p>
        <p th:text="${product.description}">DESCRIPTION</p>
        <br/>
    </div>

</body>
</html>