<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head-tag.html::head-tag-import"></head>
<link th:href="@{css/styles.css}" rel="stylesheet"/>
<body>
<nav th:replace="fragments/fragments.html::navigation"></nav>
<header th:replace="fragments/fragments.html::header" ></header>
<div class="" tabindex="-1" id="product-page">
  <div class="">
    <div>
      <div> <!--header-->
        <div class="w-25 text-center">
          <img src="/default.svg" class="img-circle img-responsive" id="modal-product-image">
        </div>
        <h4 id="product-page-name"></h4>
      </div>
      <div container w-100> <!--body-->
          <div class="container d-inline w-50">
           <table class="table">
             <tbody>
              <tr>
               <th scope="row">Вендор:</th>
               <td id="product-vendor"></td>
              </tr>
              <tr>
                <th scope="row">Страна:</th>
                <td id="product-country"></td>
              </tr>
             <tr>
                <th scope="row">Длительность лицензии:</th>
               <td id="product-license"></td>
             </tr>
             <tr>
               <th scope="row">Время доставки:</th>
               <td id="product-delivery"></td>
             </tr>
             <tr>
               <th scope="row">НДС:</th>
                <td id="product-nds"></td>
              </tr>
             <tr>
                <th scope="row">Тех. поддержка:</th>
               <td id="product-tech-support"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="container d-inline w-50">
            <h5>Описание товара</h5>
            <p class="text-justify" id="product-description"></p>
          </div>
      </div>
      <div class="footer"> <!--footer-->
        <button type="button" class="btn btn-outline-dark mt-auto" data-dismiss="modal">
          <span class="fa fa-close"></span>
          <span>Закрыть</span>
        </button>
      </div>
    </div>
  </div>
</div>
<footer th:replace="fragments/fragments.html::footer"></footer>
</body>
</html>


