<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head-tag.html::head-tag-import"></head>
<body>
<script th:src="@{/js/user-article.js}" defer></script>
<link th:href="@{css/styles.css}" rel="stylesheet"/>
<link rel="stylesheet" th:href="@{/css/style.css}">
<nav th:replace="fragments/fragments.html::navigation-base"></nav>
<header th:replace="fragments/fragments.html::header" ></header>
<section class="py-5">
  <div class="text-center text-white">
    <h3 th:text="${article.header}" class = "d-inline"></h3>
  </div>
  <div class="text-justify container" th:utext="${article.text}"></div>
</section>
<footer th:replace="fragments/fragments.html::footer"></footer>
<var id="article-id"
     th:text="${article.id}"
     style="display:none"></var>
</body>
</html>

