<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head-tag.html::head-tag-import"></head>
<body>
<script th:src="@{/js/user-article.js}" defer></script>
<link th:href="@{css/styles.css}" rel="stylesheet"/>
<link rel="stylesheet" th:href="@{/css/style.css}">
<nav th:replace="fragments/fragments.html::navigation"></nav>
<header th:replace="fragments/fragments.html::header" ></header>
<section class="py-5 bg-dark">
  <div class="text-center text-white">    <!--<img th:src="data:image/svg+xml;base64, ${article.logo}" onerror="this.src='/default.svg'"/>-->
    <h3 th:text="${article.header}" class = "d-inline"></h3>
  </div>
<!--  <img th:src="data:image/png;base64, ${article.image}" onerror="this.src='/default.png'"/>-->
  <div class="text-justify text-white container" th:utext="${article.text}"></div>
</section>
<footer th:replace="fragments/fragments.html::footer"></footer>
<var id="article-id"
     th:text="${article.id}"
     style="display:none"></var>
</body>
</html>

